* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  /*zorgt dat pagina niet groter is dan beeldscherm*/
  display: flex;
  /*zorgt dat pagina mee gaat als de grootte veranderd*/
  justify-content: center;
  /*zorgt dat pagina in het midden staat*/
  background-color: rgb(255, 255, 255);
  /*achtergrond kleur*/
}

#products { /*zorgt dat de producten netjes naast elkaar komen te staan en als er geen ruimte meer is dat hij eronder komt te staan*/
  display: flex;
  flex-wrap: wrap;

}

.product {
  width: 180px;
  background-color: rgb(255, 255, 255);
  /*Boarder rondom mijn product*/
  border-radius: 20px;
  margin: 6px;
  padding: 10px;
  /*zorgt dat het product niet tegen de rand aan staat maar dat er genoeg ruimte rondom het product is*/
  display: flex;
  flex-direction: column;
}

.onder { 
  display: flex;
  flex-direction: row;
}

.onderlinks {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  /*in deze box staat de informatie van het item. Hierin staat de naam van mijn sportlegging en de prijs*/
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: left;
}

.onderrechts {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  /*dit is de box waar de button winkerwagen staat*/
  justify-content: center;
  /*midden horizontaal*/
  align-items: center;
  /*midden vertikaal*/
}

.product img {
  width: 100%;
  box-sizing: border-box;
  background: rgb(45, 76, 113);
  /*plek waar de foto komt te staan van mijn product*/
}


#content {
  width: 800px;
}

@media only screen and (max-width: 840px) {
  body {
    background-color: rgb(201, 201, 213);
    /*kleur zie je niet op scherm*/
  }

  #content {
    width: 600px;
  }

  #sidebar {
    display: none;
  }
}

header {
  background: rgb(213, 225, 255);
  /*kleur header (bovenaan de pagina)*/
  padding: 10px;
}

.bovenbalk {
  background-color: rgb(213, 225, 255);
  /*achtergrond kleur*/
  display: flex;
  justify-content: space-between;
}

.bovenbalk .menuRight {
  padding: 10px;
  /*Zodat in het midden staat*/
}

.bovenbalk .menuLeft {
  padding: 10px;/*ruimte rondom*/
}


.onderbalk {
  background-color: rgb(213, 225, 255);
  /*achtergrond kleur*/

}


main {
  background: rgb(255, 255, 255);
  /*kleur achtergrond van webshop*/
  display: flex;
  flex-direction: row;
}

footer {
  background: rgb(213, 225, 255);
  /*kleur header (bovenaan de pagina)*/
  padding: 10px;/*ruimte rondom*/
}

.bovenkant { /*footer informatie*/
  padding: 10px; /*extra ruimte rondom*/
  display: flex;
  justify-content: space-between;
}

.betalen{
  padding: 20px;
}

.informatie{
  padding: 20px;
}

.klanten{
  padding: 20px; 
}

.levering{
  padding: 20px;
}

.onderkant {
  background-color: rgb(163, 180, 248);
  padding: 10px; /*ruimte rondom*/

}
 

#sidebar {
  width: 200px;
  background: rgb(228, 228, 228);
  /*kleur linker zijkant navigatie bar*/
}

#products {
  width: 100%;
  background: rgb(255, 255, 255);
  /*kleur main*/
}